@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Josefin+Sans:wght@600&family=Overpass&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightgray;
}

.container {
  background: white;
  border-radius: 20px;
  width: 60%;
  padding: 30px;
  margin-top: 30px;
}

body,
.form,
.score_cont,
.page_main {
  display: flex;
}

h1 {
  color: rgb(69, 186, 69);
  margin-top: 30px;
}

h1:hover {
  text-align: center;
  border-left: 2px solid greenyellow;
  border-top: 2px solid rgb(153, 230, 153);
}

h2 {
  color: rgb(66, 97, 66);
}

h2:hover {
  color: white;
}

.page_main {
  border: 2px solid greenyellow;
  border-radius: 8px;
  width: 100%;
  height: auto;
  padding: 30px;
  gap: 40px;
  background-image: linear-gradient(to right, rgba(153, 230, 153, 0.7), rgb(173, 189, 141), rgb(158, 196, 158));
}

.sec1 {
  width: 50%;
}

.score_cont {
  justify-content: space-between;
}

.results {
  background: rgb(69, 186, 69);
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 10px;
  height: auto;
  overflow: scroll;
}

li {
  display: flex;
  gap: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  border-bottom: 3px solid white;
  background: rgb(153, 230, 153);
  transition: 2s;
  transition-timing-function: ease-in-out;
}

#user {
  width: 70%;
}

#score {
  width: 20%;
}

li:hover {
  background: black;
  color: rgb(153, 230, 153);
}

li:nth-child(odd) {
  background: yellowgreen;
}

li:nth-child(odd):hover {
  color: yellowgreen;
  background: black;
}

.sec2 {
  width: 30%;
}

.form {
  flex-direction: column;
  align-items: flex-end;
}

input {
  height: 40px;
  width: 100%;
  border: 5px solid rgb(69, 186, 69);
  border-radius: 8px;
  font-size: 18px;
  transition-property: border;
}

input:hover {
  border: none;
  border-bottom: 5px solid greenyellow;
  border-left: 5px solid greenyellow;
  border-top: 5px solid rgb(153, 230, 153);
  border-right: 5px solid rgb(153, 230, 153);
}

.btn {
  font-size: 18px;
  width: 80px;
  height: 40px;
  background: rgb(153, 230, 153);
  color: black;
  border-radius: 8px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  transition-property: width;
}

.btn:active {
  background: greenyellow;
  width: 90px;
  height: 50px;
}

@media screen and (max-width: 786px) {
  .page_main {
    flex-direction: column;
  }

  .sec1,
  .sec2 {
    width: 100%;
  }
}
